body{
  max-width: 800px;
  margin: 0 auto;
}

#fellow-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 5px;
  margin: 10px;
}
#fellow-list a{
  padding: 30px;
  background-color: lightblue;
  border-radius: 20px;
  color: black;
  text-decoration: none;
  transition: all .333s;
}
#fellow-list a:hover{
  background-color: darkblue;
  color: white;
}