body{
  max-width: 800px;
  margin: 0 auto;
}

#fellow-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 5px;
  margin: 10px;
}
#fellow-list a{
  color: black;
  text-decoration: none;
}

#fellow-list .fellow_item{
  padding: 20px;
  background-color: lightblue;
  border-radius: 20px;
  transition: all .333s;
}

#fellow-list .fellow_item:hover{
  background-color: darkblue;
}

#fellow-list a:hover{
  color: white;
}

.close {
  float: right;
  background-color: white;
  padding: 3px;
  cursor: pointer;
}
.close:hover {
  background-color: black;
  color: white;
}